@keyframes appearFromRight {
    from {
        opacity: 0;
        transform: translateX(60px);
    }
}

.container {
    /* height: 100%; */
}

content {
    height: 100%;
    display: flex;
    flex: 1 1;

}

.navbar {
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    width: 100%;
    /* position: fixed; */
    height: 10%;
}

.navbar img {
    width: 60px;
}


a,
.navbar-nav,
.navbar-light .nav-link {

    color: white;
}

a,
.navbar-nav,
.navbar-light .nav-link:hover {
    color: white;

}

.navbar-brand {
    font-size: 1.4em;
    color: white;
}

.navbar-brand:hover {
    color: white;

}

.form-center {
    position: absolute !important;
    left: 25%;
    right: 25%;
}




to {
    opacity: 1;
    transform: translateX(0);
}


/* export const Container=styled.div` height: 100%;


export const Content=styled.div` height: 100%;
display: flex;
`; */

.closedSideBar {
    max-width: 60px;
    width: 100%;
    height: 90%;
    margin-top: 75px;
    border-radius: 0 12px 12px 0;

    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);

    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

}

.closedSideBar svg {
    color: #f9f9f9;
}

.closedSideBar ul li {
    cursor: pointer;
}

/* Links principais do app */
.closedSideBar nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.closedSideBar button {
    width: 100%;
    padding: 18px;
    background: none;
    border: none;
}

.closedSideBar button:hover svg path {

    color: var(--third-color);

}


.closedSideBar button svg {
    width: 24px;
    height: 24px;

    color: white;
}

.closedSideBar img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-top: 16px;
}

.closedSideBar ul {
    margin-top: 64px;
    margin-right: 35px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.closedSideBar ul a {
    width: 100%;
    padding: 16px 0;
    border-radius: 8px 0 0 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.3s;
}

.closedSideBar ul a:hover {
    background: var(--primary-background);
}

.closedSideBar ul a:hover svg path {
    color: var(--third-color);
}

.closedSideBar ul a svg {
    width: 20px;
    height: 20px;
}




/* Icones que pode não ser tão principais no app */
.closedSideBar div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.closedSideBar div ul {
    margin-bottom: 16px;
    margin-right: 35px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.closedSideBar div ul a {
    padding: 16px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: color 0.3s;
}

.closedSideBar div ul a:hover svg path {
    color: var(--third-color);
}


.closedSideBar div ul a svg {
    width: 20px;
    height: 20px;
}



.closedSideBar div span {
    padding: 16px 0;
    text-align: center;
    border-radius: 8px 8px 0 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #2694E3;
    width: 100%;
    cursor: pointer;
}

.closedSideBar div span img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}


.openSideBar {
    height: 90%;
    width: 100%;
    margin-top: 75px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: var(--shadow-black-color);

    display: flex;
    align-items: center;
}

.openSideBar svg {
    color: #f9f9f9;
}

.openSideBar section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    max-width: 240px;
    height: 100%;

    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    ;
    border-radius: 0 12px 12px 0;
}

.openSideBar section ul li {
    cursor: pointer;
}

/* Links principais do app */
.openSideBar section nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    width: 100%;
}

.openSideBar section nav span {
    width: 100%;
    display: flex;
    /* // justify-content: center;
                // align-items: flex-start; */
}

.openSideBar section nav span button {
    cursor: pointer;
    padding: 18px;
    background: none;
    border: none;
}

.openSideBar section nav span:hover svg path {
    color: var(--third-color);
}


.openSideBar section nav span button svg {
    width: 24px;
    height: 24px;

    color: white;
}



.openSideBar section nav div {
    margin-top: 16px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 24px;
    flex-direction: row;
    gap: 16px;
}

.openSideBar section nav div img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.openSideBar section nav divh1 {
    color: #fff;
    font-size: 14px;

    animation: appearFromRight 0.4s;
}


.openSideBar section nav ul {
    margin-top: 64px;
    margin-right: 25px;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.openSideBar section nav ul a {
    color: white;
    padding: 16px 20px;
    border-radius: 8px 0 0 8px;

    display: flex;
    align-items: center;
    gap: 16px;

    transition: background 0.3s;
}

.openSideBar section nav ul a:hover {
    background: var(--shadow-black-color);
}

.openSideBar section nav ul a svg path {
    color: var(--third-color);
}


.openSideBar section nav ul a p {
    color: white;
    animation: appearFromRight 0.4s;
}

.openSideBar section nav ul a svg {
    width: 20px;
    height: 20px;
}




/* Icones que pode não ser tão principais no app */
.openSideBar section div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.openSideBar section div ul {
    margin-bottom: 16px;
    margin-right: 25px;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.openSideBar section div ul a {
    padding: 16px 20px;
    display: flex;
    align-items: center;
    color: white;
    gap: 16px;

    transition: color 0.3s;
}

.openSideBar section div ul a:hover svg path {
    color: var(--third-color);
}


.openSideBar section div ul a svg {
    width: 20px;
    height: 20px;
}

.openSideBar section div ul a p {
    color: white;
    animation: appearFromRight 0.4s;
}



.openSideBar section div span {
    padding: 16px 0;
    padding-left: 50px;
    border-radius: 8px 8px 0 0;

    background: #2694E3;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;

}

.openSideBar section div span p {
    text-overflow: ellipsis;
    color: white;
    width: 70%;
    padding-right: 12px;
    white-space: nowrap;
    animation: appearFromRight 0.4s;
    overflow: hidden;
}

.openSideBar section div span img {
    margin-left: 14px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}




.openSideBar aside {
    width: 100%;
    height: 100%;
}